<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>

    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.iotek.humanresources.model.Users" alias="users"/>
        <typeAlias type="com.iotek.humanresources.model.Recruit" alias="recruit"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Resume" alias="resume"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Department" alias="department"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Position" alias="position"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Manager" alias="manager"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Employee" alias="employee"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Recruitment" alias="recruitment"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Interview" alias="interview"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Train" alias="train"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Attendance" alias="attendance"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Rewards" alias="rewards"></typeAlias>
        <typeAlias type="com.iotek.humanresources.model.Salary" alias="salary"></typeAlias>

    </typeAliases>



</configuration>