<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iotek.humanresources.dao.EmployeeMapper">
    <insert id="addNewEmployee">
        INSERT INTO T_EMPLOYEE(EMP_ID, EMP_NAME, EMP_GENDER, EMP_PHONE, EMP_EMAIL, EMP_ADDRESS, EMP_IDCARD, EMP_BIRTHDAY,
        EMP_SCHOOL, EMP_MAJOR, EMP_EDUCATION, EMP_DEPID, EMP_POSID, EMP_HIREDATE, EMP_STATE, EMP_UNAME, EMP_UPASSWORD)
        VALUES (T_EMPLOYEE_SEQ.nextval,#{name},#{gender},#{phone},#{email},#{address},#{idcard},#{birthday},
        #{school},#{major},#{education},#{department.id},#{position.id},#{hiredate},#{state},#{uname},#{upassword})
    </insert>

    <update id="modifyEmployeeDepartmenPositionById">
        UPDATE T_EMPLOYEE SET EMP_DEPID=#{department.id},EMP_POSID=#{position.id} where EMP_ID=#{id}
    </update>

    <update id="modifyEmployeeStateDepartmentPositionById">
        UPDATE T_EMPLOYEE SET EMP_DEPID=#{1},EMP_POSID=#{2},EMP_STATE=#{3} where EMP_ID=#{0}
    </update>

    <update id="modifyEmployeeInfoById">
        UPDATE T_EMPLOYEE SET EMP_PHONE=#{phone},EMP_EMAIL=#{email},EMP_ADDRESS=#{address},EMP_IDCARD=#{idcard},
        EMP_BIRTHDAY=#{birthday},EMP_SCHOOL=#{school},EMP_MAJOR=#{major}
        where EMP_ID=#{id}
    </update>

    <select id="getAllEmployee" resultMap="employeeMap">
        SELECT * FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
    </select>

    <select id="getEmployeeById" resultMap="employeeMap">
        SELECT * FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
        AND emp.EMP_ID=#{id}
    </select>

    <select id="getEmployeeByName" resultMap="employeeMap">
        SELECT * FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
        AND emp.EMP_UNAME=#{uname}
    </select>

    <select id="getEmployeeByDEPID" resultMap="employeeMap">
        SELECT * FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
        AND emp.EMP_DEPID=#{id}
    </select>

    <select id="getEmployeeByPOSID" resultMap="employeeMap">
        SELECT * FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
        AND emp.EMP_POSID=#{0}
    </select>

    <select id="getEmployeeByState" resultMap="employeeMap1">
        SELECT * FROM T_EMPLOYEE WHERE EMP_STATE=#{state}
    </select>

    <select id="getEmployeeByDEPIDAndState" resultMap="employeeMap">
        SELECT * FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
        AND emp.EMP_DEPID=#{0}
        and (emp.EMP_STATE=#{1} or emp.EMP_STATE=#{2} )
    </select>

    <select id="getEmployeeByPOSIDAndState" resultMap="employeeMap">
        SELECT * FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
        AND emp.EMP_POSID=#{0}
        and (emp.EMP_STATE=#{1} or emp.EMP_STATE=#{2} )
    </select>

    <select id="getEmployeeByIdNoDepPos" resultMap="employeeMap1">
        SELECT * FROM T_EMPLOYEE WHERE EMP_ID=#{id}
    </select>

    <select id="getEmployeeByUnameUpassword" resultMap="employeeMap">
        SELECT * FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
        AND emp.EMP_UNAME=#{uname}
        and emp.EMP_UPASSWORD=#{upassword}
    </select>

    <select id="getEmployeeByStateOnJob" resultMap="employeeMap">
        SELECT * FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
        and (emp.EMP_STATE=#{0} or emp.EMP_STATE=#{1} )
    </select>

    <select id="getEmployeeByPOSIDAndStateByPage" resultMap="employeeMap">
        SELECT * FROM (
        SELECT ROWNUM rn,emp.*,dep.*,pos.* FROM T_EMPLOYEE emp,T_DEPARTMENT dep,T_POSITION pos
        WHERE emp.EMP_DEPID=dep.DEP_ID
        AND emp.EMP_POSID=pos.POS_ID
        AND emp.EMP_POSID=#{0}
        and (emp.EMP_STATE=#{1} or emp.EMP_STATE=#{2} )
        ) x
        where x.rn between #{3} and #{4}
    </select>

    <resultMap id="employeeMap" type="employee">
        <id property="id" column="EMP_ID"></id>
        <result property="name" column="EMP_NAME"></result>
        <result property="gender" column="EMP_GENDER"></result>
        <result property="phone" column="EMP_PHONE"></result>
        <result property="email" column="EMP_EMAIL"></result>
        <result property="address" column="EMP_ADDRESS"></result>
        <result property="idcard" column="EMP_IDCARD"></result>
        <result property="birthday" column="EMP_BIRTHDAY"></result>
        <result property="school" column="EMP_SCHOOL"></result>
        <result property="major" column="EMP_MAJOR"></result>
        <result property="education" column="EMP_EDUCATION"></result>
        <result property="hiredate" column="EMP_HIREDATE"></result>
        <result property="state" column="EMP_STATE"></result>
        <result property="uname" column="EMP_UNAME"></result>
        <result property="upassword" column="EMP_UPASSWORD"></result>
        <association property="department" javaType="department" >
            <id property="id" column="DEP_ID"></id>
            <result property="name" column="DEP_NAME"></result>
            <result property="time" column="DEP_TIME"></result>
        </association>
        <association property="position" javaType="position">
            <id property="id" column="POS_ID"></id>
            <result property="name" column="POS_NAME"></result>
            <result property="salary" column="POS_SALARY"></result>
        </association>
    </resultMap>

    <resultMap id="employeeMap1" type="employee">
        <id property="id" column="EMP_ID"></id>
        <result property="name" column="EMP_NAME"></result>
        <result property="gender" column="EMP_GENDER"></result>
        <result property="phone" column="EMP_PHONE"></result>
        <result property="email" column="EMP_EMAIL"></result>
        <result property="address" column="EMP_ADDRESS"></result>
        <result property="idcard" column="EMP_IDCARD"></result>
        <result property="birthday" column="EMP_BIRTHDAY"></result>
        <result property="school" column="EMP_SCHOOL"></result>
        <result property="major" column="EMP_MAJOR"></result>
        <result property="education" column="EMP_EDUCATION"></result>
        <result property="hiredate" column="EMP_HIREDATE"></result>
        <result property="state" column="EMP_STATE"></result>
        <result property="uname" column="EMP_UNAME"></result>
        <result property="upassword" column="EMP_UPASSWORD"></result>
    </resultMap>
</mapper>